body {
    background: linear-gradient(#DC143C 11%, #660000 89%);
    color: black;
    text-align: center;
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 2px 2px crimson;
    font-size: 25px;
    font-family: 'Texturina', serif;
}

#para {
    padding: 20px;
    font-size: 18px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

#img1 {
    border-radius: 10%;
}

.menu {
    margin-top: 0px;
    position: fixed;
    background: black;
    color: aqua;
    width: 100%;
    top: 0px;
 z-index: 10;
}

.links {
    display:inline;
    padding-left: 33px;
    padding-right: 25px;
    color:navy;
    font-family: 'Overpass', sans-serif;
    font-size: 19px;
}

.links:hover {
    font-size: 30px;
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
#contact{
background:firebrick;
}
#contact iframe{
width:98%;
}
.contact1 h3{
display:inline;
}
contact1 a{
color:blueviolet;
text-shadow:1px 1px blue;
}